.tag {
  $fs: 24px;
  font-size: em($fs);
  @include paragraph(1, $fs);
  padding-left: em($grid-gutter-width, $fs);
  font-weight: 700;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: rem(4px);
    height: rem(18px);
    transform: translateY(-50%);
    background: $red;
  }
}

.big-tag {
  font-weight: 900;
  border: solid;
  border-width: rem(13px) 0;
  border-color: $black transparent $red;
  padding: rem(20px) 0;
  display: inline-block;
  margin-bottom: 0;

  @include mq($from: tablet) {
    font-size: em(46px);
  }

  @include mq($from: mobile, $until: tablet) {
    font-size: em(36px);
  }

  @include mq($until: mobile) {
    font-size: em(26px);
  }
}
