.full-image {
  position: relative;

  &_image {
    @include stretch;
    background: url('/img/full-image.jpg') 50% 50% no-repeat $black;

    @include mq($from: 1900px) {
      background-size: auto 100%;
    }

    @include mq($until: 1900px) {
      background-size: cover;
    }
  }

  &_content {
    padding: em($base-line-height * 4) 0;
    display: flex;
    align-items: center;
    height: em(600px);

    .inner {
      width: 100%;
    }
  }

  .tag {
    color: $white;
    margin-bottom: 0;
  }
}
