.alert {
  padding: em($base-line-height / 2) 0;

  &-red {
    background: $red;
    color: $white;

    .tag {
      color: $text;
      padding-right: rem(20px);

      &::before {
        background: $white;
      }
    }

    p {
      margin-bottom: 0;
      line-height: 1;
    }
  }

  &_text {
    font-weight: 900;
    flex-grow: 1;
    text-align: center;

    @include mq($from: tablet) {
      font-size: em(26px);
    }

    @include mq($until: tablet) {
      font-size: em(18px);
    }
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}