.list-images {
  padding-top: em($base-line-height);

  h2 {
    @include mq($from: large) {
      font-size: em(40px);
    }

    @include mq($from: mobile, $until: large) {
      $fs: 28px;
      font-size: em($fs);
    }

    @include mq($until: mobile) {
      $fs: 16px;
      font-size: em($fs);
    }

    span {
      padding: rem(12px) rem(10px) rem(7px);
    }
  }
}

.block-image {
  position: relative;
  margin-bottom: rem($grid-padding);

  @include mq($until: mobile) {
    margin-left: rem(-$grid-gutter-width-mobile);
    margin-right: rem(-$grid-gutter-width-mobile);
  }

  h2 {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  @include mq($until: large) {
    p:last-child {
      margin-bottom: 0;
    }
  }

  &_desc {
    background: $white;
    padding: rem(10px);
    font-weight: 500;
    display: inline-block;
    max-width: 75%;

    @include mq($from: large) {
      margin-bottom: em($base-line-height * 2);
    }

    @include mq($from: mobile, $until: large) {
      font-size: rem(14px);
      margin-bottom: rem($base-line-height);
    }

    @include mq($until: mobile) {
      font-size: rem(12px);
      margin-bottom: rem($base-line-height / 2);
    }
  }

  &_share {
    display: flex;

    .share-on-fb {
      margin-right: rem($grid-gutter-width / 2);
    }
  }

  .inner {
    position: absolute;
    bottom: 0;
    left: rem($grid-gutter-width / 2);
    right: rem($grid-gutter-width / 2);

    @include mq($from: mobile) {
      padding: 0 rem($grid-gutter-width * 2) rem($base-line-height);
    }

    @include mq($until: mobile) {
      padding: 0 rem($grid-gutter-width) rem($base-line-height / 2);
    }
  }

  &.no-background {
    h2 {
      span {
        padding: 0 !important;
      }
    }

    .block-image_desc {
      background: none;
    }
  }

  &.on-black {
    h2,
    p {
      color: $white;
    }

    h2 {
      max-width: 60%;
    }
  }
}
