<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <a href="http://www.chefsommelier.com/" class="logo">
                <img src="/img/cs-logo.png" alt="Chef & Sommelier">
            </a>

            <p>
                Macaron est un verre de la marque Chef&Sommelier, propriété du Groupe Arc.
            </p>

            <a href="http://www.arc-intl.com/ " class="logo-arc">
                <img src="/img/arc_logo_final.png" alt="Arc">
            </a>
        </div>
    </div>
</footer>