<div class="top-bar">
    <div class="container">
        <div class="row justify-space-between align-center">
            <div class="col">
                <p class="top-bar_tag no-margin">
                    #MACARON2017
                </p>
            </div>

            {% spaceless %}
            <div class="col top-bar_right">
                <a href="#moi-president" class="text-small">Moi Président</a>
                <a href="#soutenir" class="text-small">Soutenir</a>
                <a href="#programme" class="text-small">Le Programme</a>
                <a href="#boutique" class="text-small">Boutique</a>
            </div>
            {% endspaceless %}
        </div>
    </div>
</div>