.btn,
button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 0;
  appearance: none;
  padding: 0 rem($grid-padding * 2);
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;

  span {
    margin-top: rem(3px);
  }

  @include mq($from: tablet) {
    font-size: em($btn-fs);
    height: rem($btn-height);
  }

  @include mq($from: mobile, $until: tablet) {
    font-size: em(30px);
    height: rem(80px);
  }

  @include mq($until: mobile) {
    font-size: em(24px);
    height: rem(60px);
  }

  svg {
    width: rem(25px);
    height: rem(25px);
  }

  span + svg,
  svg  + span {
    margin-left: rem($grid-padding / 2);
  }
}

.btn-red {
  background: $red;
  color: $white;

  &:hover,
  &:focus {
    text-decoration: none;
    padding: 0 rem($grid-padding * 3);
    background: darken($red, 10%);
  }
}

.share-on-fb {
  background: $facebook;
  color: $white;
  padding: rem(3px) rem(5px) 0;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;

  &:hover,
  &:focus {
    background: darken($facebook, 5%);
    text-decoration: none;
  }

  svg {
    width: rem(16px);
    height: rem(16px);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: rem(-1px);
  }
}